<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Directories</title>
    <script src="/webjars/jquery/3.6.0/jquery.js"></script>
    <script>
        $(function () {
            $("a[id^='dir']").click(function (event) {
                if (confirm('Are you sure to delete this genre?')) {
                    let genreCode = $(this).attr('name').replace('dir_', '');
                    console.log(genreCode);
                    $.ajax({
                        url: '/directory/delete/' + genreCode,
                        type: 'DELETE',
                        success: function (result) {
                            if (result.success) {
                                location.href = '/directory';
                            }
                        }
                    });
                }
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Код региона</th>
        <th>Наименование</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dir:${directories}">
        <td th:text="${dir.regionId}">Id</td>
        <td th:text="${dir.regionName}">Name</td>
        <td><a th:href="@{/directory/update(id=${dir.regionId})}">Update</a></td>
        <td><a th:id="${dir.idStr}" th:href="@{/directory}" th:name="${dir.regionId}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>