<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Directories</title>
    <script src="/webjars/jquery/3.6.0/jquery.js"></script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Код региона</th>
        <th>Наименование</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dir:${directories}">
        <td th:text="${dir.regionId}">Id</td>
        <td th:text="${dir.regionName}">Name</td>
        <td><a th:href="@{/directory/update(id=${dir.regionId})}">Update</a></td>
        <td><a th:href="@{/directory/delete(id=${dir.regionId})}" th:name="${dir.regionId}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>